{% extends 'core/base.html'  %}
{% block content %}
{% include 'core/search_form_include.html' %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for pharmacy in object_list %}
        <div class="col">
            <div class="card" style="width: 25rem; height: 25rem">
                {% if pharmacy.photo %}
                <img class="card-img-top" src="{{ pharmacy.photo.url }}"
                     style="width: 21rem; height: 15rem; object-fit: flex;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'core:product_in_pharmacy' pharmacy.pk %}">{{ pharmacy.name }}</a></h5>
                    <p class="card-text">Адрес: ул. {{ pharmacy.street}}, дом {{ pharmacy.house}}</p>
                    <p class="card-text">Телефон: {{ pharmacy.phone}}</p>
                    <p class="card-text">Часы работы: {{ pharmacy.opening_time}} - {{ pharmacy.closing_time}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}