{% extends 'core/base.html'  %}
{% block content %}
    <button type="button" class="btn btn-light"><a href="{% url 'core:catalog' %}">Назад</a></button>
<div class="container-lg mt-5">
    {% if user.is_stuff or user.is_superuser%}
    <button class="btn btn-outline-danger" onclick="location.href='{% url 'core:product_delete' product.pk%}'"
            type="button" style="float: right;"> Удалить
    </button>
    <button class="btn btn-outline-success" onclick="location.href='{% url 'core:product_update' product.pk %}'"
            type="button" style="float: right;"> Изменить
    </button>
    {% endif %}
    {% if product.photo %}
    <img src="{{product.photo.url}}" class="rounded float-start" style="width: 28rem; height: 18rem; object-fit: flex;">
    {% endif %}
    <ul class="list-group list-group-flush mt-5">
        <li class="list-group-item"><h1> {{ product.name }} </h1></li>
        <li class="list-group-item"><h3> Цена: {{ product.price }} рублей </h3></li>
        <li class="list-group-item">Категория: {{ product.category }}</li>
        <li class="list-group-item">Форма выпуска: {{ product.type }}</li>
        <li class="list-group-item">Производитель: {{ product.manufacturer }}</li>
        <li class="list-group-item">Страна производитель: {{ product.country }}</li>
    </ul>
    <h3> Информация </h3>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Показания к применению
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"> {{ product.indications_for_use }}</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Способ применения
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"> {{ product.mode_of_application }}</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Состав
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"> {{ product.composition }}</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Противопоказания
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"> {{ product.contraindications }}</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>Отзывы</h3>
            {% for rev in review %}
            <div class="card">
                <div class="card-body">
                    <h4>{{ rev.user }}</h4>
                    <p>{{ rev.review }}</p>
                    <p>{{ rev.date }}</p>
                </div>
            </div>
            {% endfor %}
            <button class="btn btn-outline-primary" onclick="location.href='{% url 'core:review' product.pk %}'"
                    type="button"> Добавить отзыв
            </button>
        </div>
    </div>
</div>
{% endblock %}